$primary-color: #0796d3;
$primary-color-linear: #53c0f0;
$primary-color-hover: #005fdd;
$primary-color-hover-linear: #00a3e6;
$primary-color-active: #004bb3;
$primary-color-active-linear: #008fbf;

$secondary-color: #E7EEFB;
$secondary-color-hover: #d6e0f0;
$secondary-color-active: #c8d3e8;

$danger-color: #D30707;
$danger-color-linear: #F05353;
$danger-color-hover: #B30B0B;
$danger-color-hover-linear: #E54E4E;
$danger-color-active: #8B0B0B;
$danger-color-active-linear: #C94C4C;
